.info/
.thumbnail/
*.orig
bin/
./gen/*
./bin/*
./bin/langs/*
gen/*
obj/*
hgversion.h
bin/*
QBook.pro.user
qbookapp.creator.user
bqUtils/obj/*
bqUtils/gen/*
bqUtils/lib/*
ConnectionManager/connect/gen/*
ConnectionManager/connect/bin/*
ConnectionManager/connect/obj/*
ConnectionManager/lib/*
ConnectionManager/offline/bin/*
ConnectionManager/offline/gen/*
ConnectionManager/offline/obj/*
model/gen/*
model/obj/*
model/lib/*
model/Makefile
bqUtils/Makefile
Makefile
ConnectionManager/Makefile
ConnectionManager/connect/Makefile
ConnectionManager/offline/Makefile
ConnectionManager/test/Makefile
Makefile
fwUpgrade/usr/
gen/
obj/
x86-bin/
x86-obj/
x86-gen/
target/
.current_project*
testing/runner/runner
testing/capture/capture
*.includes
*.files
*.user
*.creator
*.config
*.cap
*.DS_Store
ConnectionManager/lib/lib/
ConnectionManager/lib/x86-lib/
area_tree.txt
layout.txt
La Yenca.mp3
model/lib/
bqClientServices/lib/
bqClientServices/x86-lib/
model/x86-lib/
*.o
uft_asserts\.txt$
bqUtils/x86-lib/
bqUtils/lib/
moc_*.cpp
library/lib/
libbqModelLibrary.so*
*.rej
*.bak
*~
!QHome/bin
