@font-face {
        font-family : serif, Serif;
        font-weight : normal;
        font-style: normal;
        color: black;
        src: url("res:///fonts/lmmonolt10-regular.otf")
}

@font-face {
        font-family: serif, Serif;
        font-style: italic, oblique;
        font-weight: normal;
        color: black;
        src: url("res:///fonts/lmmonolt10-oblique.otf")
}
@font-face {
        font-family: serif, Serif;
        font-style: normal;
        font-weight: bold;
        color: black;
        src: url("res:///fonts/lmmonolt10-bold.otf")
}
@font-face {
        font-family: serif, Serif;
        font-style: italic, oblique;
        font-weight: bold;
        color: black;
        src: url("res:///fonts/lmmonolt10-boldoblique.otf")
}

