
@font-face {
        font-family : serif, Serif;
        font-weight : normal;
        font-style: normal;
        color: black;
        src: url("res:///fonts/Vollkorn-Regular.ttf")
}

@font-face {
        font-family: serif, Serif;
        font-style: italic, oblique;
        font-weight: normal;
        color: black;
        src: url("res:///fonts/Vollkorn-Italic.ttf")
}
@font-face {
        font-family: serif, Serif;
        font-style: normal;
        font-weight: bold;
        color: black;
        src: url("res:///fonts/Vollkorn-Bold.ttf")
}
@font-face {
        font-family: serif, Serif;
        font-style: italic, oblique;
        font-weight: bold;
        color: black;
        src: url("res:///fonts/Vollkorn-BoldItalic.ttf")
}

